Backend/node_modules
Backend/dist
Backend/public
Backend/.env
Backend/package-lock.json
Backend/yarn.lock

Frontend/node_modules
Frontend/dist
Frontend/public
Frontend/.env
Frontend/package-lock.json
Frontend/yarn.lock

/node_modules
/dist
.env
package-lock.json